*,*::before,*::after { box-sizing: border-box; };

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: none !important;
}

.container {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    margin: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 16px;
}

nav ul a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

nav,
header {
    background: #1f2937;
}